<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<%= @user.name %>, <%= @user.email %>

<%= form_for(@facebookpost) do |f| %>
  <div class="field">
    <%= f.text_field :post, placeholder: "Compose new facebook post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

  <div class="alert alert-error">
    Latest Received Posts ...
  </div>

  <ul>
    <% @RcvdPosts.each do |pst| %>
      <% if pst["application"] %>
          <li> <%= pst["from"]["name"] %>, <%= pst["created_time"] %>, <%= pst["application"]["name"] %>, <%= pst["message"] %></li>
      <% else %>
          <li> <%= pst["from"]["name"] %>, <%= pst["created_time"] %>, <%= "NotPostedViaApp" %>, <%= pst["message"] %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="alert alert-error">
    Latest Self Posts ...
  </div>

  <ul>
    <% @SelfPosts.each do |pst| %>
      <li> <%= pst["from"]["name"] %>, <%= pst["created_time"] %>, <%= pst["message"] %></li>
    <% end %>
  </ul>


  
<div class="span8">
  <% if @user.facebookposts.any? %>
    <h3>Facebookposts (<%= @user.facebookposts.count %>)</h3>
    <ol class="facebookposts">
      <% @fbposts.each do |fbpost| %>
        <li>
          <%= fbpost.post %>, <%= fbpost.post_id %>
        </li>
      <% end %>
    </ol>
  <% end %>
  </div>



